* {
    box-sizing: border-box;
}

body {
  margin: 0;
}

/* Style the header */
.header1 {
    color: red;
    font-style: italic;
    padding-top: 20px;
    /* background-color: #f1f1f1; */
    /* padding: 20px; */
    text-align: center;
}

.header2 {
    padding-bottom: 20px;
    text-align: center;
}

.subsection {
    color: red;
    font-style: italic;
    font-size: 1.875em;
    padding: 20px;
}


/* Style the top navigation bar */
.topnav {
    overflow: hidden;
    background-color: #333;
}

/* Style the topnav links */
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}


hr {
    border: none;
    border-top: 3px double #333;
    color: #333;
    overflow: visible;
    text-align: center;
    height: 5px;
}

hr:after {
    background: #fff;
    content: 'ยง';
    padding: 0 4px;
    position: relative;
    top: -13px;
}
