* {
    box-sizing: border-box;
}

body {
  font-size: 100%;
  margin: 0;
}

/* Style the header */
.header1 {
    color: red;
    font-style: italic;
    padding-top: 20px;
    /* background-color: #f1f1f1; */
    /* padding: 20px; */
    text-align: center;
}

.header2 {
    padding-bottom: 20px;
    text-align: center;
}

.section {
    color: red;
    font-style: italic;
    font-size: 2em;
    padding: 20px 0px;
}

.subsection {
    color: red;
    font-style: italic;
    font-size: 1.4em;
    padding: 20px 0px;
} 


ol.alpha {
    counter-reset: alpha;
    /* list-style-type: lower-alpha; */
}
ol.alpha li {
    list-style: none;
    position: relative;
}
    
ol.alpha > li:before {
    counter-increment: alpha;
    content:"(" counter(alpha, lower-alpha)") "
}

ul.v {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 25%;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
}

li.v a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

li.v a.active {
    background-color: #4CAF50;
    color: white;
}

li.v a:hover:not(.active) {
    background-color: #555;
    color: white;
}


ul.h {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
}

li.h {
    float: left;
}

li.h a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li.h a:hover {
    background-color: #111;
}

li.h a.active {
    background-color: #4CAF50;
}


ul.b {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    bottom: 0;
    width: 72.5%;
}

li.b {
    float: left;
}

li.b a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li.b a:hover:not(.active) {
    background-color: #111;
}

li.b a.active {
    background-color: #4CAF50;
}


ul.sidenav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 25%;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
}

ul.sidenav li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}
 
ul.sidenav li a.active {
    background-color: #4CAF50;
    color: white;
}

ul.sidenav li a:hover:not(.active) {
    background-color: #555;
    color: white;
}

div.content {
    margin-left: 25%;
    padding: 1px 16px;
    height: 1000px;
}

@media screen and (max-width: 900px) {
    ul.sidenav {
        width: 100%;
        height: auto;
        position: relative;
    }
    ul.sidenav li a {
        float: left;
        padding: 15px;
    }
    div.content {margin-left: 0;}
}

@media screen and (max-width: 400px) {
    ul.sidenav li a {
        text-align: center;
        float: none;
    }
}



hr {
    border: none;
    border-top: 3px double #333;
    color: #333;
    overflow: visible;
    text-align: center;
    height: 5px;
}

hr:after {
    background: #fff;
    content: '';
    padding: 0px 0px;
    position: relative;
    top: -13px;
}

.fcolorbox {
     display: inline;
     padding: 3px;
     border: 2px solid red;
 }

a {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
}

a:hover {
    background-color: #ddd;
    color: black;
}

.previous {
    float: left;
    background-color: #f1f1f1;
    color: black;
}

.next {
    float: right;
    background-color: #f1f1f1;
    color: black;
}

